.profileback
{
    margin-top: 0px;
    background-image: 
    url(
    "../pics/profile1.jpg");  
    /* background-repeat:repeat;   */
    background-size: 100% 100%;
    font-size:medium;
    min-height: 560px;
    min-width: 1000px;
   
}

.basedesign
{
    padding:20px;
    border:2px solid brown ;
    border-radius: 12px;
    background-color: bisque;
    width:300px;
    align-self: center;
    font-size: medium;
    float: center;
    margin-left: 100px;
}
